header h1 {
    color:#000000;   
}

.text-center {
    text-align: center;
}
/* hero image styles */
#hero{
    background-image:url("../images/heroimage.jpg");
    width: 100%;
    position: relative;
    height: 1080px;
    background-size: cover;
    background-position: center;
    
}
/* navbar styles */
#nav-bar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 99;
}

#nav-bar li>a {
    color: #000000;
}


/* Media query for phone devices nav-bar 576px and up*/
@media screen and (min-width:576px) {

}

/* Media query for tablets and larger 768px and up */
@media screen and (min-width:678px) {

}