/*import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap');

/* WILDCARD SELECTOR */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

h1,
h2,
h3 {
    font-family: Kanit, sans-serif;
}

/* General styles */
body {
    background-color: #2D3142;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: #EEE5E9;
    padding-bottom: 34px;
    font-family: 'Kanit', sans-serif;
}

/* Hidden heading */
.hidden-heading {
    display: none;
}

.text_center {
    text-align: center;
}

/* Header */
header {
    background-color: #4F5D75;
    padding: 0 1rem;
    position: fixed;
    z-index: 999;
    width: 100%;
    box-shadow: 0 2px 2px #000000;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header a {
    text-decoration: none;
    color: inherit;
}

header h1 {
    color: #ffffff;
    position: relative;
    z-index: 99;
    display: flex;
    left: 10%;
    font-size: 1rem;
}

/* nav styles and dropdown */
nav {
    position: absolute;
    background-color: #4F5D75;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000000;
    display: none;
    top: 100%;
    z-index: 999;
    padding-bottom: 5px;
}

nav a:hover {
    border-bottom: 1px solid #d64933;
}

nav ul>li {
    list-style-type: none;
}

/* nav toggle */
.nav-toggle:checked~nav {
    display: block;
    z-index: 999;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

.nav-bar li>a {
    color: #ffffff;
}

.nav-gallery {
    padding: 10px 10px 20px 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-gallery button {
    width: 60px;
    height: 30px;
    background-color: #92dce5;
    color: #000;
    border: none;
}

.nav-gallery button:hover {
    background-color: #d64933;
}

/* Active nav page */
.active {
    border-bottom: 1px solid #ffffff;
}

/* hero image styles */
.hero {
    position: absolute;
    background-color: #1B1E20;
    background-image: url("../images/heroimage.webp");
    width: 100%;
    height: 25rem;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

/* Main */
main {
    position: relative;
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

/* title for each page positioning */
main>h2 {
    position: relative;
    z-index: 99;
    display: flex;
    margin-top: 420px;
    justify-self: center;
}

main h3 {
    display: flex;
    padding-top: 10px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
}

.welcome-div {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 2rem;
    padding-left: 20px;
    padding-right: 20px;

}

/* From */
main form {
    background-color: #0c1821;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
}

#f-name,
#l-name,
#email,
#password {
    width: 200px;
    height: 48px;
    margin: 5px 0px 20px 0px;
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 5px 5px;
}

.submit {
    width: 60px;
    height: 30px;
    background-color: #92dce5;
    color: #000;
    border: none;
}

.submit:hover {
    background-color: #d64933;
}

/* Footer */
footer {
    background-color: #4F5D75;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* socials styles */
.socials-networks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}

.socials-networks>a {
    text-decoration: none;
    color: #ffffff;
}

.socials-networks a:hover {
    color: #d64933;
}

/*  Pilot page styling */
.pilots_p {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.tacticals_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Weapons Page Styling */
.weapons {
    margin-bottom: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.primary-weapons {
    width: 100%;
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.secondary-weapons {
    width: 100%;
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.weapons_container {
    width: 100%;
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    justify-content: center;
    align-items: start;
}

.weapons_container_item {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white_line {
    height: 2px;
    width: 100%;
    background-color: #ffffff;
}

/* Titans page styling */
.titans {
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.titans li {
    margin-bottom: 3em;
    text-align: center;
}

.image_titan_container {
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 25rem;
}

.image_titan_container img {
    object-fit: contain;
    width: 100%;

}

.response_page {
    text-align: center;
}

/* Media query for tablets and larger 900px and up (900 because nav links cover h1 header) */
@media screen and (min-width: 900px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    .nav-bar {
        display: flex;
    }

    .nav-bar>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    header h1 {
        font-size: 2rem;
        left: 40%;
    }

    main>h2 {
        position: relative;
        z-index: 99;
        display: flex;
        margin-top: 460px;
        justify-self: center;
    }

    .hero {
        background-position: center;
    }

}

@media screen and (min-height: 1080px) {
    .hero {
        height: 25%;
    }
}